<h1>Product Catalog</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Available</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="text" ng-model="vm.searchField"
                ng-model-options="{debounce:250}"
            
                 />
            </td>
        </tr>
        <tr ng-repeat="product in vm.products | filter: vm.searchField">
            <td><a ui-sref="Product ({id: product.id })">{{product.name}}</a></td>
            <td>{{product.price|currency}}</td>
            <td>
                <span ng-if="!product.outOfStock" class="label label-success"> In Stock </span>
                <span ng-if="product.outOfStock" class="label label-danger">Out of Stock</span>
                <!--ng-class="{'label-success': !product.outOfStock, 'label.danger': product.outOfStock}">-->
                    
                </span>
            </td>

        </tr>
    </tbody>
    <table>